@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-main: #e95b2b;
  --color-secondary: #252b58;
  --color-secondary-900: #2d387b;
  --color-secondary-800: #333f9a;
  --color-secondary-700: #384cbd;
  --color-secondary-600: #415ecf;
  --color-secondary-500: #5679db;
  --color-secondary-400: #769be4;
  --color-secondary-300: #a2bdee;
  --color-secondary-200: #c8d7f5;
  --color-secondary-100: #e0e8f9;
  --color-secondary-50: #f1f5fd;
  --font-inter: "Inter", sans-serif;
  --color-dark: rgb(54, 54, 54);

  /* Custom Animations */
  --animate-marquee-parteners: marquee-parteners 26s linear infinite;
  --animate-marquee: marquee 36s linear infinite;
  --animate-up-down: up-down 3s linear infinite;

  /* Key Frames */
  @keyframes marquee-parteners {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-131.67%);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes up-down {
    0%{
      transform: translateY(0px)
    }

    25%{ 
      transform: translateY(-15px)
    }
    50%{
      transform: translateY(0px)
    }
    75%{
      transform: translateY(15px)
    }
    100%{
      transform: translateY(0px)
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1200px;
}

::selection {
  @apply bg-main text-secondary-50;
}

body {
  @apply font-inter;
}

button {
  @apply cursor-pointer focus:border-none focus-within:border-none focus-visible:border-none;
}

.section-bottom-space {
  @apply pb-14 md:pb-16;
}

.stat-card {
  @apply flex items-center justify-center h-12 gap-3 px-4 duration-300 border rounded-full hover:shadow-[0px_8px_16px_1px_var(--color-secondary-600)] shadow-[0px_4px_16px_1px_var(--color-secondary-600)] border-secondary-600 text-secondary-100 hover:bg-secondary-50 hover:text-secondary hover:scale-105;
}
.btn {
  @apply h-12 px-4 duration-300 border rounded-full text-secondary-100 bg-secondary border-secondary hover:bg-main hover:border-main;
}

/* Typography */
.h1 {
  @apply text-[44px] leading-[46px] md:text-[64px] md:leading-[66px] lg:text-[80px] lg:leading-[100px] font-black 
}
.h2 {
  @apply text-[32px] leading-[34px] md:text-[56px] md:leading-[58px] font-[700];
}
.h3 {
  @apply text-[28px] leading-[30px] md:text-[32px] md:leading-[34px] font-medium;
}
.h4 {
  @apply text-[18px] leading-[20px] md:text-[20px] md:leading-[22px] font-medium;
}
.body {
  @apply text-[16px] leading-[18px] md:text-[18px] md:leading-[20px];
}

.active-menu {
  @apply opacity-100;
}
.active-answer {
  @apply border-secondary-200 max-h-[340px];
}
